[Unit]
Description=InkyCal - Run at boot and every quarter hour

[Timer]
OnBootSec=2min
OnCalendar=*:0/15
Persistent=true

[Install]
WantedBy=timers.target
